@import './../styles.scss';

.availability {
  background: white;
  @include border-radius-all(1rem);
  bottom: 1rem;
  box-shadow: 0 0 1rem rgba($gray, 0.25);
  left: 50%;
  max-width: 450px;
  padding:2rem;
  position: absolute;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  &__title {
    margin:0 0 1.125rem;
    @include text-shadow(0.1em, $yellow);
  }

  .react-datepicker {
    display: block;
    position: relative;
    &__month-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: max-content max-content;
    }
    &__header {
      display: grid;
    }
    &__navigation {
      @include border-radius-all(0);
      box-shadow: none;
      height: 1rem;
      padding: 0;
      position: absolute;
      text-indent: -999rem;
      top: 0;
      width: 1rem;
      &--next {
        border: .45rem solid transparent;
        border-left-color: lighten($gray, 55%);
        right: 0;
      }
      &--previous {
        border: .45rem solid transparent;
        border-right-color: lighten($gray, 55%);
        left: 0;
      }
    }
    &__current-month {
      font-weight: 700;
      padding-bottom: 0.5rem;
      text-align: center;
      text-transform: capitalize;
    }
    &__day-names {
      border-top:1px solid lighten($gray, 55%);
      border-bottom: none;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      font-weight: 700;
    }
    &__day-name {
      border-right:1px solid lighten($gray, 55%);
      font-size: 0.85rem;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      &:first-child {
        border-left: 1px solid lighten($gray, 55%);
      }
    }
    &__month {
      display: grid;
    }
    &__week {
      border-bottom:1px solid lighten($gray, 55%);
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      &:first-child {
        border-top: 1px solid lighten($gray, 55%);
      }
    }
    &__day {
      border-right:1px solid lighten($gray, 55%);
      cursor: pointer;
      padding: 0.25rem;
      &:hover {
        background: lighten($yellow, 7.5%);
      }
      &--outside-month {
        background: lighten($gray, 65%);
        cursor: initial;
        &:hover {
          background: lighten($gray, 65%);
        }
      }
      &--today {
        background: $cyan;
        font-weight: 700;
      }
      &:first-child {
        border-left: 1px solid lighten($gray, 55%);
      }
    }
  }
  @media screen and (max-width: 359px) {
    width: 100%;
  }
}