@import './../styles.scss';

.gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 160px;
  grid-template-rows: repeat(3, 150px);
  &__featured {
    background: $lemon;
    @include border-radius-all(1rem);
    display: grid;
    grid-column: 1 /2;
    grid-row: 1 / span 3;
    overflow: hidden;
  }
  &__grid {
    display: grid;
    gap: 1rem;
    grid-column: 2 / 3;
    grid-row: 1 / span 3;
    grid-template-rows: repeat(3, 150px);
    &__item {
      background: $orange;
      @include border-radius-all(1rem);
      display: grid;
      overflow: hidden;
    }
  }
  * {
    img {
      @extend .img-cover;
    }
  }

  @media screen and (max-width: 767px){
    grid-template-columns: 1fr;
    grid-template-rows: 450px 150px;
    &__featured {
      grid-row: 1 / 2;
      //height: 450px;
    }
    &__grid {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      //height: 150px;
    }
  }

  @media screen and (max-width: 479px){
    grid-template-rows: 320px 85px;
  }
}