@import './../styles.scss';

.groomers-grid {
  justify-content: center;
  h2 {
    margin-top: 0;
    text-align: center;
  }
  &__container {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 2rem 2rem;
    row-gap: 2rem;
    max-width: 1400px;
  }
  &__item {
    border: 2px solid lighten($gray, 60%);
    @include border-radius-all(1rem);
    cursor: pointer;
    display: grid;
    grid-template-rows: 1fr max-content;
    overflow: hidden;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }

    &__thumbnail {
      position: relative;
      height: 360px;
      .fav {
        background: darken($orange, 15%);
        @include border-radius-all(50%);
        color: $white;
        height: 32px;
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 32px;
        .fa {
          @extend .position-center;
        }
      }
      img {
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
    &__description {
      padding: 2rem 1rem;
    }
    &__title {
      color: $purple;
      margin: 0 0 0.25rem 0;
    }
  }

  // Responsive
  @media screen and (max-width: 1023px){
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 767px){
    &__container {
      grid-template-columns: 1fr;
    }
  }
}
