@import './../styles.scss';

.groomers-grid {
  justify-content: center;
  h2 {
    margin-top: 0;
    text-align: center;
  }
  &__container {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 2rem 2rem;
    row-gap: 2rem;
    max-width: 1400px;
  }
  &__item {
    border: 2px solid lighten($gray, 60%);
    @include border-radius-all(1rem);
    color: $gray;
    display: grid;
    grid-template-rows: max-content 1fr;
    overflow: hidden;
    transition: all 0.3s ease;
    
    &:hover {
      color: $gray;
      transform: scale(1.03);
    }

    &__thumbnail {
      position: relative;
      padding-top: 100%;
      .fav {
        background: darken($orange, 15%);
        @include border-radius-all(50%);
        color: $white;
        cursor: pointer;
        height: 32px;
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 32px;
        z-index: 2;
        i {
          @extend .position-center;
        }
      }
      img {
        display: block;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top:0;
        width: 100%;
        z-index: 1;
      }
    }
    &__description {
      display: grid;
      grid-template-rows: max-content max-content 1fr max-content;
      padding: 2rem 1rem;
    }
    &__title {
      color: $purple;
      cursor: pointer;
      margin: 0 0 0.25rem 0;
    }
    .btn {
      max-width: calc(100% - 2rem);
      width: 220px;
    }

    &.favorited {
      animation: favoritedPulse 1.8s ease-in-out infinite forwards;
    }
  }

  // Responsive
  @media screen and (max-width: 1023px){
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 767px){
    &__container {
      grid-template-columns: 1fr;
    }
  }

  @keyframes favoritedPulse {
    0% {
      border-color:$orange;
      box-shadow: 0 0 0 $orange;
    }
    50% {
      border-color:$orange;
      box-shadow: 0 0 1rem $orange;
    }
    100% {
      border-color:$orange;
      box-shadow: 0 0 0 $orange;
    }
  }
}
