@import './../styles.scss';

.profile__history {
  &-wrapper {
    width: 100%;
    min-height: 6.25rem;
    border-bottom: 2px dashed $light-gray;
    padding: 2rem 0.5rem;
  }

  &-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &-pet {
    width: 20%;
    display: flex;
    justify-content: space-between;
    &-img-container {
      width: 3.75rem;
      height: 3.75rem;
      background-color: $orange;
      @include border-radius-all(50%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-salon {
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  &-dates {
    width: 30%;
    display: flex;
    justify-content: space-between;

    & > i {
      color: $light-gray;
      padding-top: 4px;
      font-size: 1.25rem;
    }

    &-info {
      display: flex;
      flex-direction: column;
    }

    &-action {
      margin-top: 1.5rem;
      cursor: pointer;
      :first-child {
        padding-right: 0.5rem;
      }
    }
  }

  &-details-headers {
    display: flex;
    justify-content: space-between;
    padding-left: 5.625rem;
    margin: 1rem 0rem;
    font-size: 1.25rem;
    :last-child {
      color: darken($cyan, 50);
    }
  }

  &-details-info {
    display: flex;
    justify-content: space-around;
  }

  &-services,
  &-comments {
    display: flex;
    flex-direction: column;
  }

  span.divider {
    width: 2px;
    height: 70px;
    border-right: 1px solid $light-gray;
    align-self: center;
    margin: 0rem 2rem;
  }
}
