@import './../styles.scss';

.profile__history {
  display: none;
  grid-auto-rows: max-content;
  &.active {
    display: grid;
  }

  h4 {
    margin-bottom: 2rem;
  }

  &-wrapper {
    display: grid;
    gap:2rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  &-info {
    display: grid;
    gap: 2rem;
    grid-template-columns: max-content 1fr max-content;
    width: 100%;
  }

  &-pet {
    border-right:2px solid rgba($gray, 0.15);
    display: grid;
    gap:2rem;
    grid-template-columns: 3.75rem 1fr;
    padding-right: 2rem;
    &-img-container {
      align-items: center;
      background-color: $orange;
      @include border-radius-all(50%);
      display: grid;
      height: 3.75rem;
      justify-content: center;
      width: 3.75rem;
    }
    &-type {
      color:$link-hover;
    }
  }

  &-salon {
    border-right:2px solid rgba($gray, 0.15);
    display: grid;
    grid-auto-rows: max-content;
    padding-right: 2rem;
    p {
      &:first-of-type {
        margin-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &-dates {
    display: grid;

    & > i {
      color: $light-gray;
      font-size: 1.25rem;
    }

    &-info {
      display: grid;
    }

    &-action {
      align-items: center;
      align-self: center;
      color: $purple;
      cursor: pointer;
      display: grid;
      grid-template-columns: repeat(2, max-content);
      justify-self: end;
      padding-left: 1rem;
      :first-child {
        padding-right: 0.5rem;
      }
      :hover {
        color: $link-hover;
        ~ i {
          color: $link-hover;
        }
      }
    }
  }

  &-details {
    background: rgba($gray, 0.05);
    display: grid;
    gap:1rem;
    padding: 2rem;
  }

  &-details-headers {
    color:$purple;
    display: grid;
    grid-template-columns: 1fr max-content;
    font-size: 1.25rem;
    :last-child {
      color: $link-hover;
    }
  }

  &-details-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &-services, &-notes {
    display: grid;
    grid-template-columns: 1fr;
  }

  &-services {
    ul {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-notes {
    grid-auto-rows: max-content;
  }

  @media screen and (min-width: 1024px) and (max-width: 1199px) {
    &-info {
      grid-template-rows: 1fr max-content;
    }
    &-pet {
      border-right: none;
      grid-column: 1 / span 2;
    }
    &-salon, &-dates {
      grid-row: 2 / 3;
    }
  }
  
  @media screen and (min-width: 580px) and (max-width: 767px) {
    &-info {
      grid-template-rows: 1fr max-content;
    }
    &-pet {
      border-right: none;
      grid-column: 1 / span 2;
    }
    &-salon, &-dates {
      grid-row: 2 / 3;
    }
  }

  @media screen and (max-width: 579px) {
    &-info {
      grid-template-columns: 1fr;
    }

    &-salon, &-pet {
      border-right: none;
    }

    &-details {
      &-info, &-headers {
        grid-template-columns: 1fr;
      }

      &-info {
        gap:1rem;
      }
    }
  }
}
#booking-history {
  .profile__history-dates {
    gap: 1rem;
    grid-template-columns: max-content max-content max-content;
  }

  @media screen and (max-width: 767px) {
    .profile__history-info {
      border-bottom:2px solid rgba($gray, 0.15);
      grid-template-columns: 1fr;
      padding-bottom: 2rem;
    }

    .profile__history-pet {
      border-right: none;
      grid-column: initial;
      padding: 0;
    }

    .profile__history-salon, .profile__history-dates {
      border-right: none;
      grid-row: initial;
      padding: 0;
    }
  }
}
