@import './../styles.scss';

.modal {
  background:rgba($gray, 0.8);
  left: 0;
  min-height: 100vh;
  position: fixed;
  top:0;
  width: 100%;
  &__container {
    background: $white;
    @include border-radius-all(1rem);
    display: flex;
    margin: 2rem auto 0 auto;
    max-height: calc(100vh - 4rem);
    max-width: calc(800px - 4rem);
    overflow-y: scroll;
    padding: 2rem;
    position: relative;
  }

  &__close {
    background: transparent;
    border:none;
    @include border-radius-all(0);
    box-shadow: none;
    color: rgba($gray, 0.5);
    font-size: 1.5rem;
    right: 0.5rem;
    position: absolute;
    top:0.5rem;
    &:hover {
      background: transparent;
      box-shadow: none;
    }
  }
}
