.modal {
  background:rgba($gray, 0.8);
  bottom:0;
  left: 0;
  position: fixed;
  overflow-y: auto;
  right: 0;
  top:0;
  width: 100%;
  &__container {
    background: $white;
    @include border-radius-all(1rem);
    box-shadow: 0.5rem 0.5rem 0 $orange;
    display: flex;
    margin: 2rem auto 2rem auto;
    max-width: calc(800px - 4rem);
    padding: 2rem;
    position: relative;
    width: calc(100% - 4rem);
  }

  &__close {
    background: transparent;
    border:none;
    @include border-radius-all(0);
    box-shadow: none;
    color: rgba($gray, 0.5);
    font-size: 1.5rem;
    right: 0.5rem;
    position: absolute;
    top:0.5rem;
    &:hover {
      background: transparent;
      box-shadow: none;
    }
  }
}
