@import './../styles.scss';

.login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__container {
        display: flex;
        width: 43.75rem;
        height: 31.25rem;
        margin-bottom: 1rem;
        @include border-radius-all(2rem);
        @include box-shadow(8px, $cyan);
        @media screen and (max-width: 767px){
            display: none;
        }
    }

    &__left {
        width: 50%;
        padding: 1rem 3rem;
    }

    &__input-group {
        margin-top: 1rem;
    }

    &__label {

        color: $purple;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0rem;
        color: $purple;
        font-size: 12px;
    }

    &__rememberme {
        display: flex;
    }

    &__rememberme > input {
        @include box-shadow(0px, $cyan);
        margin: 0rem;
        width: 1rem;
        height: 1rem;
    }

    &__social-buttons {
        display: flex;
        justify-content: space-between;
        .facebook__title {
            margin-left: 4px;
        }

        .google__title {
            margin-left: 4px;
        }
    }

    &__facebook-button {
        color: #4267B2;
        display: flex;
        align-items: center,
    }

    &__google-button {
        color: #EA4335;
        display: flex;
        align-items: center,
    }

    &__submit {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }

    button {
        @extend .btn--dark;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }

    &__right {
        width: 50%;
        padding: 1rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        background-image: 
        linear-gradient(to bottom, rgba(251, 209, 183, 0.8), rgba(140, 20, 117, 0.8)), url('https://images.pexels.com/photos/1677533/pexels-photo-1677533.jpeg?cs=srgb&dl=animal-lover-blurred-background-dog-1677533.jpg&fm=jpg');
        border-radius: 0rem 2rem 2rem 0rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }


    &__welcome {
        margin-bottom: 0.5rem;
        margin-top: 40%;
    }

    &__divider {
        width: 90%;
        height: 0.15rem;
        background: $white;
    }
}
