.footer {
  background: $cyan;
  @include border-radius-all(1rem);
  grid-template-columns: 1fr max-content;
  justify-self: center;
  margin: 4rem auto;
  max-width: calc(100% - 4rem);
  padding: 2rem;
  width: 1400px;
  &__nav {
    @extend .no-style-lists;
    li {
      display: inline-block;
      margin: 0 0.3rem;
    }
  }

  @media screen and (max-width: 767px) {
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    text-align: center;
  }
}
