.header {
  align-items: center;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
}

.logo {
  img {
    max-width: 300px;
    width: 100%;
  }
}

.navigation {
  justify-self: end;
  @extend .font-bold;
  &__website {
    @extend .no-style-lists;
    li {
      display: inline-block;
      margin: 0.5rem;
    }
  }
  &__user {
    display: none;
  }
  &__mobile {
    display: none;
    font-size: 2rem;
  }
}

#register-now {
  background: $orange;
  @include border-radius-all(1rem);
  padding: 0.5rem 1rem;
  &:hover {
    background: $yellow;
  }
}

// Responsive para elementos del header
@media screen and (max-width: 1023px){
  .header {
    grid-template-columns: 1fr 1fr;
  }

  .navigation {
    &__website {
      display: none;
    }
    &__mobile {
      display: inline-block;
    }
  }
}

@media screen and (max-width: 479px){
  .header {
    grid-template-columns: 200px 1fr;
  }
}